name: Deploy to Amazon ECS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }} 
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} 
        aws-region: ap-northeast-2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Amazon ECR Public
      run: |
        aws ecr-public get-login-password --region us-east-1 | \
        docker login --username AWS --password-stdin public.ecr.aws/s4l1o5h4

    - name: Build and Push Docker image
      run: |
        docker buildx build \
          --platform linux/amd64 \
          -t public.ecr.aws/s4l1o5h4/ecs-demo-repo:latest \
          . --push

    - name: Deploy to ECS (Fargate)
      run: |
        aws ecs update-service \
          --cluster ecs-demo-cluster \
          --service ecs-demo-service \
          --force-new-deployment \
          --region ap-northeast-2
